body {
    display: flex;
    justify-content: center;
    border: solid, black;
}

.wrapper {
    width: 80%;    
}

header {
    font-size: 20px;
    display: inline;
}

h1 {
    display: inline-flex;
    margin-bottom: 70px;
}

img {
    height: 120px;
    float: right;
}

.contact {
    font-style: italic;
}

h2 {
    font-weight: bold;
    color: white;
    background-color: rgb(168, 168, 168);
}
span {
    font-weight: bold;
}

section {
    margin-top: 40px;
}