body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 80%;
    
}

h1 {
    font-size: 40px;
    display: inline;
    border: 1px;
}

img {
    height: 100px;
    float: right;
}

.contact {
    font-style: italic;
}

h2 {
    font-weight: bold;
    background-color: rgb(131, 131, 131);
    color: white;
}
span {
    font-weight: bold;
}