body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 40px;
    background-color:beige;
}

header {
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    border: 1px solid red;
}

.navegation {
    padding: 20px 0;
    display: inline-flex;
    justify-content: flex-end;
    border: 1px solid green;
}

.navegation li {
    
    margin-left: 30px;
    text-align: right;
    color: black;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding: 5px 10px;
    background-color:lightgray;
}


.container {
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
}


.news {
    background-color:white;
    margin-right: 50px;
    min-width: 400px;
    flex-grow: 2;
}

.news article {
    margin-left: 10px;
}


.categories {
    background-color:white;
    min-width: 300px;
}

.categories li {
    padding: 20px 0;
    color: black;
}