body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 20px;
    margin: 20 px;
    margin-bottom: 70px;
}

h2 {
    font-weight: bold;
    color: white;
    background-color: rgb(168, 168, 168);
}

.navegation {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    background-color: yellow;
    margin: 30px;
}

section .news {
    display: inline-flex;
    margin: 30px;
    background-color: aquamarine;
}

.categorias {
    display: inline-flex;
    flex-grow: 1;
    margin: 30px;
}


