body {
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}

.wrapper {
    width: 70%;    
}

header {
    font-size: 20px;
    display: inline;
    margin-top: 30px;
}

h1 {
    display: inline-flex;
    margin-bottom: 70px;}

img {
    height: 120px;
    float: right;
    margin-top: 20px;
}

.navegation {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.navegation li {
    margin-left: 30px;
    text-align: right;
    color: black;
    font-size: 18px;
    list-style-type: none;

}

h2 {
    font-weight: bold;
    font-size: 25px;
    color: white;
    padding: 1px 10px;
    background-color:lightgray;
}

.container {
    margin-left: 20px;
}


.contact {
    font-style: italic;
}

section {
    margin-top: 40px;
}

